body {
  background-image: url("https://wallpaperaccess.com/full/3947539.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*headers*/
h1,
h3 {
  text-align: center;
  color: #495f76;
  font-weight: 700;
  font-family: "Lobster", cursive;
  font-style: italic;
  padding: 20px 20px;
}
h1 {
  background-image: url("https://wallpaperaccess.com/full/3947539.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 5px solid #495f76;
  font-size: 60px;
}

h3 {
  margin-top: 50px;
  font-size: 50px;
}
/*nav-bar and dropdown*/
.navbar-wrapper {
  display: flex;
  justify-content: center;
  border: 5px solid #495f76;
  margin-top: -10px;
  background-color: #ecc5be;
}
a.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: #495f76;
}
li.nav-item a {
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: #495f76;
}
.dropdown-menu {
  background-color: #ecc5be;
}
/*navbar dropdown social media logos*/
.github-logo {
  width: 30px;
}
#preply-logo {
  width: 60px;
}
#instagram-logo {
  width: 40px;
}
#tiktok-logo {
  width: 30px;
}
/*buttons*/
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  background-color: #495f76;
  color: #ecc5be;
  font-weight: 700;
  border: 5px solid #495f76;
  border-radius: 30px;
}

/*hidden carousel and carousel images*/
.carousel-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#carouselExampleControls {
  display: none;
}
img {
  border-radius: 40px;
}

/*about me page container and videos*/
.video-container {
  display: flex;
  justify-content: center;
  margin-left: 70px;
}
video {
  width: 80%;
  border: 5px solid #ecc5be;
  border-radius: 30px;
}

/*about me page images*/
.english-lesson-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
#english-teacher {
  border: 5px solid #ecc5be;
  margin-right: 50px;
  margin-top: 40px;
}

/*contact page*/
.contacts {
  text-decoration: none;
  font-size: 50px;
  color: #495f76;
}
.form-container {
  border: 5px solid #495f76;
  border-radius: 30px;
  width: 70%;
  margin-left: 300px;
  margin-bottom: 50px;
}
label {
  font-size: 20px;
  text-align: center;
  color: #495f76;
  font-weight: 700;
  font-family: "Lobster", cursive;
  font-style: italic;
  padding: 20px 20px;
}
input,
textarea {
  width: 100%;
  padding: 10px 10px;
  border: 3px solid #495f76;
  border-radius: 30px;
  background-color: #ecc5be;
}
input {
  height: 50px;
}
textarea {
  height: 100%;
}

#send-button {
  width: 40%;
  text-align: center;
  color: #495f76;
  font-weight: 700;
  font-family: "Lobster", cursive;
  margin-left: 100px;
  margin-bottom: 20px;
}

/*project gallery*/
.project-container {
  display: grid;
  justify-content: center;
}
img#project1,
img#project2,
img#project3,
img#project4 {
  border-radius: 60px;
}

/*media queries*/

@media (max-width: 650px) {
  h1 {
    font-size: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h3 {
    font-size: 20px;
  }

  a.navbar-brand {
    font-size: 15px;
    margin-left: 50px;
  }
  li.nav-item a {
    font-family: "Lobster", cursive;
    font-size: 10px;
    color: #495f76;
  }
  .navbar-toggler {
    width: 20%;
    background-color: #ecc5be;
    border: 3px solid #495f76;
  }
  .navbar-toggler-icon {
    color: #495f76;
    font-size: 8px;
    margin-left: -10px;
  }
  .github-logo,
  .coder-emoji {
    display: none;
  }

  .english-lesson-container {
    margin-bottom: 20px;
    margin-top: -50px;
  }
  #english-teacher {
    width: 60%;
  }
  .contacts {
    font-size: 25px;
  }
  .form-container {
    margin-left: 70px;
  }
  .project-container {
    display: grid;
  }
  img#project1,
  img#project2,
  img#project3,
  img#project4 {
    margin: auto;
    margin-left: 40px;
    width: 85%;
    height: 300px;
    border: 5px solid #495f76;
  }
  p {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    font-size: 15px;
    padding: 20px 20px;
  }
}

@media (min-width: 768px) {
  .github-logo,
  .coder-emoji {
    display: none;
  }

  img {
    width: 100%;
  }
  .navbar-toggler {
    width: 20%;
    background-color: #ecc5be;
    border: 3px solid #495f76;
  }
  .navbar-toggler-icon {
    color: #495f76;
    font-size: 8px;
    margin-left: -10px;
  }
  a.navbar-brand {
    font-size: 20px;
    margin-left: 10px;
  }
  .form-container {
    width: 50%;
  }
  #english-teacher {
    width: 60%;
  }
  .project-container {
    display: grid;
  }
  img#project1,
  img#project2,
  img#project3,
  img#project4 {
    margin: auto;
    width: 85%;
    height: 300px;
    border: 5px solid #495f76;
  }
  p {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    font-size: 15px;
    padding: 20px 20px;
  }
}
