body {
  background-color: silver;
}

h1,
h3 {
  text-align: center;
  color: #495f76;
  font-weight: 700;
  font-style: italic;
  padding: 20px 20px;
}
h1 {
  background-color: #ecc5be;
  width: 100%;
  border: 5px solid #495f76;
}
h3 {
  margin-top: 50px;
  font-size: 40px;
}
/*nav-bar container*/
.navbar-wrapper {
  display: flex;
  justify-content: center;
}
#navbarNavDropdown {
  border-radius: 50px;
}
/*buttons*/
.button-wrapper {
  display: flex;
  justify-content: center;
}
button {
  margin-top: 20px;
  background-color: #ecc5be;
  color: #495f76;
  font-size: 20px;
  border-radius: 30px;
  font-style: italic;
  font-weight: 700;
  padding: 5px 10px;
}

/*social media logos*/
.logo {
  width: 30px;
}
#preply-logo {
  width: 50px;
}
#instagram-logo {
  width: 10px;
}
#tiktok-logo {
  width: 10px;
}

#carouselExampleFade {
  width: 30%;
  margin-top: 400px;
  display: none;
}
